{% extends "base_layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% for post in content_list %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-15 border-bottom">
                <p>{{ post.body }}</p>
                <div class="post_header">
                    <h2 style="display: inline; vertical-align: top; line-height: 15px">{{ post.author }} </h2>
                    <p style="display: inline; vertical-align: top;">{{ post.created }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}