{% extends "base_layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-15 border-bottom">
                <h3>Add Your Post</h3>
            </div>
        </div>

        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-md-5 col-sm-15 border-bottom">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3">Submit!</button>
                    </div>
                </form>
            </div>
        </div>

        {% for post in content_list %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-15 border-bottom">
                <p>{{ post.body }}</p>
                <div class="post_header">
                    <h2 style="display: inline; vertical-align: top; line-height: 25px;">{{ post.author }} </h2>
                    <p style="display: inline; vertical-align: top; ">{{ post.created }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}